        body{
            font-family: Arial, sans-serif;
            box-sizing: border-box;
            justify-content: center;
            align-items: center; 
            flex-direction: column;
            background-color: #fabecd;
            text-align: center;
            cursor:url("immagini/cursore.png"), auto;
        }

        h1 {
            color: #da8c8c;
        }

        h2 {
            color: #da8c8c;
        }
        p {
            color: #000000;

        }
        li {
            color: #000000;
        }

        .hearts {
            font-size: 23px;
            font-weight: bold;
            position: fixed;
            top: -1vh;
            left: 0;
            animation: fall 1s ease-in infinite;
            color: #da8c8c;
        }

        @keyframes fall {
            to {
                transform: translateY(250vh);
            }
        }